*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font: "Syne", sans-serif;

  --text-sm: .75rem;
  --text-base: 1rem;
  --text-md: 1.25rem;
  --text-lg: 1.5rem;
  --text-xl: 2rem;
}

body {
  font-family: var(--font);

  height: 100vh;
  background: linear-gradient(to bottom, #FFFFFF, #000000);
}

@media (width >= 80em) {
  :root {
    --text-sm: .875rem;
    --text-lg: 2.5rem;
    --text-xl: 4rem;
  }
}